template(name="order")
	div.order
		div.container
			div.menu-title  
				i.fa.fa-truck &nbsp; &nbsp; Payment & Delivery options
			div.order-container
				div.col-md-4.summary Order Summary 
				div.col-md-4.payment 
					i.fa.fa-credit-card
				div.col-md-4.delivery Delivery


