ul
	list-style-type none !important

.btn 
	border-radius 0 !important
	border 0 !important

.dropdown-menu
	li 
		a 
			cursor none !important
			padding 0 !important
			margin-bottom 10px !important
			&:hover
				background-color #fff !important

#login-dropdown-list
	display block
	a 
		text-decoration none !important
